{
  "name": "<%= name %>",
  "version": "<%= version %>",
  "description": "Add TODO items from issue comments in <%= target_app %>",
  "manifest_version": 2,
  "content_scripts": [{
    "matches": [<%= url_matches %>],
    "run_at": "document_end",
    "css": ["css/octoaudit.css"],
    "js": [
      "js/vendor/jquery.min.js",
      "js/octoaudit.js"
    ]
  }],
  "web_accessible_resources": [
    "js/vendor/jquery.min.map",
    "js/octoaudit.coffee",
    "js/octoaudit.js.map"
  ]
}
